{% extends "base.html" %}
{% block title %}replicator{% endblock %}

{% block body %}

<!-- daily-weekly items -->
<div class="container-fluid px-5 pt-4" id="custom-cards">
    <h2 class="pb-2 pt-2 border-bottom text-center fw-bold">daily | weekly items</h2>

        <div class="d-flex px-4 py-1 mt-4 justify-content-around">
          <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
            <img src="{{ daily[0].itemType.asset }}" class="card-img-top" alt="rank">
            <div class="card-body">
              <h5 class="card-title text-center h4 fw-bolder">{{ daily[0].itemType.name.replace("_", " ") }}</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item h5 fw-bold fst-italic">{{ daily[0].cost }} crafting material</li>
              <li class="list-group-item h5 fw-bold fst-italic">daily item</li>
            </ul>
          </div>
      

      <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
        <img src="{{ daily[1].itemType.asset }}" class="card-img-top" alt="rank">
        <div class="card-body">
          <h5 class="card-title text-center h4 fw-bolder">{{ daily[1].itemType.name.replace("_", " ") }}</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item h5 fw-bold fst-italic">{{ daily[1].cost }} crafting material</li>
          <li class="list-group-item h5 fw-bold fst-italic">daily item</li>
        </ul>
      </div>

      <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
        <img src="{{ weekly[0].itemType.asset }}" class="card-img-top" alt="rank">
        <div class="card-body">
          <h5 class="card-title text-center h4 fw-bolder">{{ weekly[0].itemType.name.replace("_", " ") }}</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item h5 fw-bold fst-italic">{{ weekly[0].cost }} crafting material</li>
          <li class="list-group-item h5 fw-bold fst-italic">weekly item</li>

        </ul>
      </div>

      <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
        <img src="{{ weekly[1].itemType.asset }}" class="card-img-top" alt="rank">
        <div class="card-body">
          <h5 class="card-title text-center h4 fw-bolder">{{ weekly[1].itemType.name.replace("_", " ") }}</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item h5 fw-bold fst-italic">{{ weekly[0].cost }} crafting material</li>
          <li class="list-group-item h5 fw-bold fst-italic">weekly item</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- permanent items -->
  <div class="container-fluid px-5 pt-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center fw-bold">permanent items</h2>

    <div class="d-flex px-4 py-1 mt-4 justify-content-around">
      <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
        <img src="{{ permanent[0].itemType.asset }}" class="card-img-top" alt="rank">
        <div class="card-body">
          <h5 class="card-title text-center h4 fw-bolder">{{ permanent[0].itemType.name.replace("_", " ") }}</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[0].cost }} crafting material</li>
        </ul>
      </div>
  

  <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
    <img src="{{ permanent[1].itemType.asset }}" class="card-img-top" alt="rank">
    <div class="card-body">
      <h5 class="card-title text-center h4 fw-bolder">{{ permanent[1].itemType.name.replace("_", " ") }}</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[1].cost }} crafting material</li>
    </ul>
  </div>

  <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
    <img src="{{ permanent[2].itemType.asset }}" class="card-img-top" alt="rank">
    <div class="card-body">
      <h5 class="card-title text-center h4 fw-bolder">{{ permanent[2].itemType.name.replace("_", " ") }}</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[2].cost }} crafting material</li>
    </ul>
  </div>

  <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
    <img src="{{ permanent[3].itemType.asset }}" class="card-img-top" alt="rank">
    <div class="card-body">
      <h5 class="card-title text-center h4 fw-bolder">{{ permanent[3].itemType.name.replace("_", " ") }}</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[3].cost }} crafting material</li>
    </ul>
  </div>
  </div>

  <div class="d-flex px-4 py-1 mt-4 justify-content-around">
    <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
      <img src="{{ permanent[4].itemType.asset }}" class="card-img-top" alt="rank">
      <div class="card-body">
        <h5 class="card-title text-center h4 fw-bolder">{{ permanent[4].itemType.name.replace("_", " ") }}</h5>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[4].cost }} crafting material</li>
      </ul>
    </div>

    <div class="card align-items-center shadow-lg border border-2 border-secondary" style="width: 20vw;">
      <img src="{{ permanent[5].itemType.asset }}" class="card-img-top" alt="rank">
      <div class="card-body">
        <h5 class="card-title text-center h4 fw-bolder">{{ permanent[5].itemType.name.replace("_", " ") }}</h5>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item h5 fw-bold fst-italic">{{ permanent[5].cost }} crafting material</li>
      </ul>
    </div>
  </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="ms-5 me-2 mb-md-0 text-muted text-decoration-none lh-1">
    </a>
    <span class="mb-3 mb-md-0 text-muted">attester '22</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="me-4"><a class="text-muted" href="https://github.com/iesful" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg>
  </a>
</li>
    <li class="me-5"><a class="text-muted" href="https://portal.apexlegendsapi.com/" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
      <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
      <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
      <path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
    </svg>
  </a>
</li>
  </ul>
</footer>
{% endblock %}