{% extends "base.html" %}

{% block title %} map plss {% endblock %}

{% block body %}
{% if current_map == 'Olympus' %}
  <div class="px-4 pt-5 my-5 text-center text-black">
    <h1 class="text-decoration-underline display-2 fw-bolder">{{ current_map.lower() }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead fw-normal">time remaining: <strong>{{ remain_time }} minute(s)</strong></p>
    </div>
    <div class="overflow-hidden" style="max-height: 55vh;">
      <div class="container px-auto">
        <img src="../static/olympus-apex-legends.jpg" class="img-fluid border rounded-3 shadow-sm mb-4" alt="olympus map" width="900" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% elif current_map == 'Storm Point' %}
<div class="px-4 pt-5 my-5 text-center text-black">
    <h1 class="text-decoration-underline display-2 fw-bolder">{{ current_map.lower() }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead fw-normal">time remaining: <strong>{{ remain_time }} minute(s)</strong></p>
    </div>
    <div class="overflow-hidden" style="max-height: 55vh;">
      <div class="container px-auto">
        <img src="../static/stormpoint-apex-legends.jpg" class="img-fluid border rounded-3 shadow-sm mb-4" alt="stormpoint map" width="900" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% elif current_map == 'World\'s Edge' %}
<div class="px-4 pt-5 my-5 text-center text-black">
    <h1 class="text-decoration-underline display-2 fw-bolder">{{ current_map.lower() }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead fw-normal">time remaining: <strong>{{ remain_time }} minute(s)</strong></p>
    </div>
    <div class="overflow-hidden" style="max-height: 55vh;">
      <div class="container px-auto">
        <img src="../static/worldsedge-apex-legends.jpg" class="img-fluid border rounded-3 shadow-sm mb-4" alt="worlds edge map" width="900" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% else %}
<div class="px-4 pt-5 my-5 text-center text-black">
    <h1 class="text-decoration-underline display-2 fw-bolder">{{ current_map.lower() }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead fw-normal">time remaining: <strong>{{ remain_time }} minute(s)</strong></p>
    </div>
    <div class="overflow-hidden" style="max-height: 55vh;">
      <div class="container px-auto">
        <img src="../static/kingscanyon-apex-legends.jpg" class="img-fluid border rounded-3 shadow-sm mb-4" alt="kings canyon map" width="900" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block footer %}
<footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="ms-5 me-2 mb-md-0 text-muted text-decoration-none lh-1">
    </a>
    <span class="mb-3 mb-md-0 text-muted">attester '22</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="me-4"><a class="text-muted" href="https://github.com/iesful" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg>
  </a>
</li>
    <li class="me-5"><a class="text-muted" href="https://portal.apexlegendsapi.com/" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
      <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
      <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
      <path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
    </svg>
  </a>
</li>
  </ul>
</footer>
{% endblock %}