{% extends "base.html" %}
{% block title %}still not pred{% endblock %}

{% block body %}
<!-- <p>youre not pred yet</p>
{{ rank }} -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-dismiss="alert">
      <span aria-hidden="true"></span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-dismiss="alert">
      <span aria-hidden="true"></span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}


<div class="px-4 py-5 mt-3 text-center">
    <img class="d-block mx-auto" src="../static/pred-badge.png" alt="" width="192" height="192">
    <h1 class="display-5 fw-bold text-decoration-underline">rp 4 pred</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">input your username and select your platform</p>
      <form class="d-flex justify-content-center" method="POST" id="pred-stat">
        <input class="form-control me-2 w-25" type="text" placeholder="username" id="username" name="playername" required="required">
        <select class="form-select me-2 w-25 text-muted" id="platform" name="playerplatform" required="required">
            <option selected>platform</option>
            <option value="PC">pc</option>
            <option value="PS4">playstation</option>
            <option value="X1">xbox</option>
          </select>
        <button class="btn btn-secondary" type="submit">go</button>
    </form>
    </div>
</div>
{% if gathered %}
    <!-- <h1> {{ rank }}, {{ gathered }}</h1> -->
<div class="d-flex px-4 py-1 mt-0 justify-content-center">
    <div class="card align-items-center" style="width: 18rem;">
      <img src="{{ rank['rankImg'] }}" class="card-img-top" alt="rank">
      <div class="card-body">
        <h5 class="card-title text-center fw-bolder text-decoration-underline">{{ player.lower() }}</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item fw-bold">current rp: {{ rank['rankScore'] }}</li>
        <li class="list-group-item fw-bold">baseline pred: {{ pred_info['val'] }}</li>
        <li class="list-group-item fw-bold">you need {{ pred_info['val'] - rank['rankScore'] }} more rp</li>
      </ul>
      <!-- <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
    </div>
</div>

{% else %}
    
{% endif %}





          




{% endblock %}